Repository tky5622/monorepo-templates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": "eslint --fix",
  "*.{json,md}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix",
  "*.{ts.tsx,json,md}": "prettier --write"
}

add external
  .vscode/external.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

add graph file
  .vscode/settings.json
  README.md
  apps/backend/src/app/app.module.ts
  apps/backend/src/components/todo/interfaces/todo.model.ts
  apps/backend/src/components/todo/todo.module.ts
  apps/backend/src/components/todo/todo.resolvers.ts
  apps/graph/.eslintrc.json
  apps/graph/PrevTsconfig.json
  apps/graph/abis/Contract.json
  apps/graph/generated/Contract/Contract.ts
  apps/graph/generated/schema.ts
  apps/graph/networks.json
  apps/graph/package-lock.json
  apps/graph/package.json
  apps/graph/project.json
  apps/graph/schema.graphql
  apps/graph/src/app/.gitkeep
  apps/graph/src/assets/.gitkeep
  apps/graph/src/contract.ts
  apps/graph/src/environments/environment.prod.ts
  apps/graph/src/environments/environment.ts
  apps/graph/src/main.ts
  apps/graph/src/tests/contract-utils.ts
  apps/graph/src/tests/contract.test.ts
  apps/graph/subgraph.yaml
  apps/graph/tsconfig.app.json
  apps/graph/tsconfig.json
  libs/pixel-streaming-editor/src/lib/pixel-streaming-editor.spec.tsx
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

disalbe eslint in scheme
  apps/graph/generated/schema.ts
Due: eslint --fix

restore BigInt type
  apps/graph/src/tests/contract-utils.ts
Due: eslint --fix

test commit lint
  .eslintrc.json
  apps/front/src/pages/editor.tsx
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

test commit lint 2
  package.json
Due: prettier --write

fix: commit lint 3
  README.md
  package.json
Due: prettier --write

fix: commit lint 4
  .husky/pre-commit
Due: none

fix: add contract
  README.md
  apps/contract/contracts/MarketPlace.sol
  apps/contract/test/MarketPlace.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: feffe
  apps/front/.next/server/pages-manifest.json
  apps/front/.next/static/chunks/webpack.js
  apps/front/.next/trace
  apps/front/share/PixelStreaming/PixelLogWindow.js
  apps/front/share/PixelStreaming/PixelVideo.js
  apps/front/share/PixelStreaming/PixelWindow.js
  apps/front/share/PixelStreaming/ReactPixelStreaming.js
  apps/front/share/PixelStreaming/index.css
  apps/front/share/PixelStreaming/index.js
  apps/front/share/PixelStreaming/lib/app.old.js
  apps/front/share/PixelStreaming/lib/emitter.js
  apps/front/share/PixelStreaming/lib/events.js
  apps/front/share/PixelStreaming/lib/inputHelper.js
  apps/front/share/PixelStreaming/lib/pixel-streaming-client.js
  apps/front/share/PixelStreaming/lib/pixel-streaming-context.js
  apps/front/share/PixelStreaming/lib/types.js
  apps/front/share/PixelStreaming/lib/videoHelper.js
  apps/front/share/PixelStreaming/lib/webRtcPlayer.js
  apps/front/share/app.ts
  apps/front/share/editorPage/app.js
  apps/front/share/editorPage/player.tsx
  apps/front/share/editorPage/stressTest.js
  apps/front/share/editorPage/webRtcPlayer.js
  apps/front/share/gamepad.tsx
  apps/front/src/pages/cp_editor.tsx
  libs/my-lib/src/gamepad.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: fix to run web rtc by enabling create WebRtcOffer ( change place to avoid error)
  apps/front/.next/server/pages-manifest.json
  apps/front/.next/server/pages/editor.js
  apps/front/.next/static/chunks/webpack.js
  apps/front/.next/trace
  apps/front/share/app.ts
  apps/front/share/editorPage/app.js
  apps/front/share/webRtcPlayer.ts
  apps/front/src/pages/editor.tsx
Due: eslint --fix, prettier --write

refactor: move script section
  apps/front/src/component/editor/UE5.tsx
  apps/front/src/pages/editor.tsx
Due: eslint --fix

fix: add query to folder
  apps/front/src/graphql/queries/lens.query.ts
Due: eslint --fix

add layout component
  apps/front/src/component/layout/AppHeader.tsx
  apps/front/src/component/layout/Layout.tsx
  apps/front/src/component/layout/NavBar.tsx
  apps/front/src/component/walletConnect/WalletConnectContainer.tsx
Due: eslint --fix

fix: add
  apps/front/src/pages/_app.tsx
  apps/front/src/pages/home.tsx
Due: eslint --fix

fix: test
  apps/front/src/pages/_app.tsx
Due: eslint --fix

fix: file path
  apps/front/src/component/nft/UploadNft.tsx
  apps/front/src/component/nft/UploadNftModal.tsx
  apps/front/src/pages/_app.tsx
  apps/front/src/pages/project/[id].tsx
  package.json
Due: eslint --fix, prettier --write

no message
  dist/apps/front/package.json
Due: prettier --write

fix: open
  apps/front/src/component/nft/UploadNft.tsx
  apps/front/src/component/nft/UploadNftModal.tsx
  apps/front/src/component/shared/RoundButton.tsx
Due: eslint --fix

fix: add required pages
  apps/front/src/component/layout/AppHeader.tsx
  apps/front/src/component/nft/NftDetails.tsx
  apps/front/src/component/nft/NftList.tsx
  apps/front/src/component/nft/TabContainer.tsx
  apps/front/src/component/nft/UploadNft.tsx
  apps/front/src/component/nft/mockdata.ts
  apps/front/src/pages/3dmodel/[id].tsx
  apps/front/src/pages/artist/[id].tsx
  apps/front/src/pages/projects.tsx
Due: eslint --fix

modify link
  apps/front/src/component/layout/AppHeader.tsx
  apps/front/src/component/shared/molecules/CardList.tsx
Due: eslint --fix

fix: apply lint
  apps/contract/hardhat.config.ts
  apps/contract/scripts/deploy-contract.mjs
  apps/contract/scripts/deploy-follow-nft.ts
  apps/contract/scripts/lens/post.ts
  apps/contract/scripts/store-asset.mjs
  apps/front/share/app.ts
  apps/front/src/component/artists/ArtistList.tsx
  apps/front/src/component/artists/mockdata.ts
  apps/front/src/component/home/FeatureSection.tsx
  apps/front/src/component/home/HeroBullets.tsx
  apps/front/src/component/home/TopUserList.tsx
  apps/front/src/component/layout/AppHeader.tsx
  apps/front/src/component/layout/Footer.tsx
  apps/front/src/component/layout/Layout.tsx
  apps/front/src/component/nft/NftDetails.tsx
  apps/front/src/component/nft/NftList.tsx
  apps/front/src/component/nft/TabContainer.tsx
  apps/front/src/component/nft/UploadNft.tsx
  apps/front/src/component/nft/UploadNftModal.tsx
  apps/front/src/component/nft/mockdata.ts
  apps/front/src/component/shared/atoms/card/NftCard.tsx
  apps/front/src/component/shared/molecules/CardList.tsx
  apps/front/src/component/shared/molecules/NftList.tsx
  apps/front/src/pages/3dmodel/[id].tsx
  apps/front/src/pages/_app.tsx
  apps/front/src/pages/artist/[id].tsx
  apps/front/src/pages/artists.tsx
  apps/front/src/pages/home.tsx
  apps/front/src/pages/project/[id].tsx
  package.json
Due: eslint --fix, prettier --write

fix: comment out
  apps/front/src/pages/artist/[id].tsx
Due: eslint --fix

fix: add git keep
  apps/front/public/.gitkeep
Due: none

fix: deploy error at vercel
  nx.json
Due: prettier --write
